/*#############################################################################################*/
/* CORE OVERRIDES
/*#############################################################################################*/ 

@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/PressStart2PRegular.otf) format("truetype");
}
* {
  font-family: "Press Start 2P";
}
html {
  overflow: hidden;
  background-color: rgb(143, 143, 143);
}

/*#############################################################################################*/
/* COMPONENTS CLASS
/*#############################################################################################*/ 

/*---------------------------------------------------------------------------------------------*/
/* WINDOW
/*---------------------------------------------------------------------------------------------*/
.Window {
  display: none;
  flex-direction: column;
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  border: 10px solid;
  z-index: 1001;
}
.Window--show {
  display: flex;
}